@charset "UTF-8";
/*
Pequenas telas: até 480px
Celulares: 481px até 767px
Tablets: 768px até 991px
Desktop: 992px até 1199px
Grandes telas: 1200px até 1399px
Extra large: 1400px ou mais 
*/

@media screen and (min-width: 700px) and (max-width: 991px) { /*Tablet*/
    section#login {
        width: 80vw;
        height: 310px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /*Desktop*/
    section#login {
        width: 990px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
    font-size: 2em;
    }

    div#form > p {
    font-size: 1.2em;
    }
}